<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cellcerto"
        android:label="CellCerto Box 221"
        android:theme="@style/Theme.CellCerto"
        android:usesCleartextTraffic="false">

        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".NotificationCenterActivity" android:exported="false" />
        <activity android:name=".PaymentSimulatorActivity" android:exported="false" />
        <activity android:name=".WarrantyActivity" android:exported="false" />
        <activity android:name=".TrackingActivity" android:exported="false" />
        <activity android:name=".HistoryActivity" android:exported="false" />
        <activity android:name=".InfoActivity" android:exported="false" />
        <activity android:name=".SummaryActivity" android:exported="false" />
        <activity android:name=".BookingActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
